.checkout-form{
    margin: 50px auto;
    margin-bottom: 100px;
    background-color: rgb(222, 222, 222);
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    border-radius: 15px;
}

.checkout-form h1{
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: bold;
}

.checkout-form h2{
    font-size: 1rem;
}

.checkout-input{
    text-align: left;
    width: 100%;
    margin-bottom: 10px;
}
.checkout-input input{
    width: 100%;
    border: none;
    padding: 5px;
    margin-top: 10px;
    border-radius: 8px;
}

.checkout-input button{
    width: 100%;
    border: none;
    padding: 5px;
    margin-top: 10px;
    background-color: brown;
    color: white;
    border-radius: 8px;
}

@media only screen and (max-width: 700px) {
    .checkout-form{
        margin: 50px auto;
        margin-bottom: 100px;
        background-color: rgb(222, 222, 222);
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 50px;
        border-radius: 15px;
    }
}